page-login {
    .invalid {
        font: smaller;
        color: #ea6153;
    }
    ion-label, .select-text {
        margin-left: 10px;
    }
    
}
.invalid {
    font: smaller;
    color: #ea6153;
}