<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
    
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>
  
      
        <div>
              <ng-container *ngFor="let validation of validation_messages.email" >
                <div [class.invalid]="submitted && form.get('email').invalid" *ngIf=" submitted && form.get('email').hasError(validation.type)">
                  <p>{{validation.message}}</p>
                 </div>
               </ng-container>
        </div>
        
  
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        
          <div>
                <ng-container  *ngFor="let validation of validation_messages.password" >
                  <div [class.invalid]="submitted && form.get('password').invalid" *ngIf=" submitted && form.get('password').hasError(validation.type)">
                    <p>{{validation.message}}</p>
                   </div>
                 </ng-container>
          </div>
          
          <ion-item>
            <ion-label >Entrepreneur</ion-label>
            <ion-checkbox formControlName="role" color="blue" checked="true"></ion-checkbox>
          </ion-item>
          <button margin-top  ion-button block>Register</button>
      </form>
</ion-content>
